<!-- gym_auth/templates/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Enter</h2>
    <form action="{% url 'register_api' %}" method="post">
        {% csrf_token %}
        <label>
            Name:
            <input type="text" name="username" required>
        </label>
        <br>
        <label>
            Roll number:
            <input type="password" name="password" required>
        </label>
        <br>
        <button type="submit">Enter</button>
    </form>
    <br>
    
</body>
</html>
